CONFIG_iford=y
CONFIG_CARDV=y
CONFIG_BOARD="029C"
CONFIG_BOARD_NAME="CARDV-BOARD"
CONFIG_TOOLCHAIN_UCLIBC=y
CONFIG_TOOLCHAIN_REL_ARM-SIGMASTAR-LINUX-UCLIBCGNUEABIHF-9.1.0=y
CONFIG_BUSYBOX="busybox-1.20.2-arm-buildroot-linux-uclibcgnueabihf-uclibc-9.1.0-static"
CONFIG_UBOOT_CONFIG="iford_cardv_defconfig"
CONFIG_UBOOT_BIN="u-boot.xz.img.bin"
CONFIG_OPTEE_OS_MAKE_OPTION="PLATFORM=iford"
CONFIG_DRAM_SIZE="0x8000000"
CONFIG_LX_MEM_SIZE="0x8000000"
CONFIG_MMA_MEM_SIZE="0x4000000"
CONFIG_CMA_MEM_SIZE="0x200000"
CONFIG_LOGO_MEM_SIZE="0x800000"
CONFIG_FB_MEM_SIZE="0x4b0000"
CONFIG_KERNEL_VERSION_5.10=y
CONFIG_KERNEL_CONFIG="iford_cardv_ssc029c_s01a_defconfig"
CONFIG_KERNEL_BIN="uImage.xz"
CONFIG_IMAGE_CONFIG="nor-cardv.squashfs.partition.config"
CONFIG_IPL_CONFIG="IPL.iford_nor.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_IPL_CUST_CONFIG="IPL_CUST.iford_nor.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_USB_UPGRADE_IPL_CONFIG="IPL.iford_usb.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_USB_UPGRADE_UBOOT_CONFIG="u-boot.xz.img.bin"
CONFIG_SD_UPGRADE_IPL_CONFIG="IPL.iford_sdmmc.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_SD_UPGRADE_IPL_CUST_CONFIG="IPL_CUST.iford_sdmmc.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_FLASH_SIZE_16M=y
CONFIG_REMOVE_LIBS_LIST="libBF_2MIC_LINUX.so libBF_4MIC_LINUX.so libBF100_LINUX.so libAEC_LINUX.so libAED_LINUX.so libAGC_LINUX.so libANR_LINUX.so libAPC_LINUX.so libMD_LINUX.so libOD_LINUX.so libMIX_LINUX.so libSED_LINUX.so libSRC_LINUX.so libSSL_2MIC_LINUX.so libSSL_4MIC_LINUX.so libSSL100_LINUX.so libVAD_LINUX.so libsstaralgo_det.so libsstaralgo_fr.so libsstaralgo_hseg.so libsstaralgo_ovcls.so libVC_LINUX.so libVG_LINUX.so"
CONFIG_STRIP_OPTION="--strip-unneeded"
CONFIG_IQ0="imx307/imx307_iqfile.bin"
CONFIG_IQ1="imx307/imx307_iqfile.bin"
CONFIG_IQ2="imx307/imx307_iqfile.bin"
CONFIG_IQ3="imx307/imx307_iqfile.bin"
CONFIG_IQ_API_LIST="imx415/imx415_api.bin"
CONFIG_SENSOR_LIST="imx415_mipi.ko"
CONFIG_SENSOR0="imx415_mipi.ko"
CONFIG_SENSOR0_OPT="chmap=1"
CONFIG_CONFIG_ENABLE_MI_NORMAL_STR=y
CONFIG_DEBUG_SUPPORT=y
CONFIG_SD_UPGRADE_DEV=1
CONFIG_SSW101B_WIFI_USB=y
CONFIG_BOOTLOGO=y
# CONFIG_VERIFY_SAMPLE_CODE is not set
# CONFIG_VERIFY_SYSTEM_APP is not set
CONFIG_VERIFY_CARDV_IMPL=y
CONFIG_VERIFY_CARDV_UI=y
CONFIG_MI_DBG_MINIMAL=y
# CONFIG_MI_RGN_SUPPORT_MOSAIC is not set
# CONFIG_MI_RGN_SUPPORT_COVER_MAP is not set
# CONFIG_MI_RGN_SUPPORT_COLOR_INVERT is not set
# CONFIG_INTERFACE_SHADOW is not set
# CONFIG_INTERFACE_VDF is not set
# CONFIG_INTERFACE_WLAN is not set
# CONFIG_MI_FB_VIDEO is not set
