CONFIG_iford=y
CONFIG_CARDV=y
CONFIG_BOARD="029C"
CONFIG_BOARD_NAME="CARDV-BOARD"
CONFIG_TOOLCHAIN_VERSION_11.1.0=y
CONFIG_TOOLCHAIN_REL_ARM-LINUX-GNUEABIHF-SIGMASTAR-11.1.0=y
CONFIG_BUSYBOX="busybox-1.20.2-arm-linux-gnueabihf-glibc-sigmastar-11.1.0-dynamic"
CONFIG_UBOOT_CONFIG="iford_spinand_dualenv_cardv_defconfig"
CONFIG_OPTEE_OS_MAKE_OPTION="PLATFORM=iford"
CONFIG_DRAM_SIZE="0x8000000"
CONFIG_LX_MEM_SIZE="0x8000000"
CONFIG_MMA_MEM_SIZE="0x4200000"
CONFIG_CMA_MEM_SIZE="0x200000"
CONFIG_LOGO_MEM_SIZE="0x800000"
CONFIG_FB_MEM_SIZE="0x4b0000"
CONFIG_KERNEL_VERSION_5.10=y
CONFIG_KERNEL_CONFIG="iford_cardv_ssc029c_s01a_spinand_dualsnr_defconfig"
CONFIG_KERNEL_BIN="uImage.xz"
CONFIG_IMAGE_CONFIG="spinand.squashfs.ab.partition.config"
CONFIG_IPL_CONFIG="IPL.iford_nand.QFN128=y.IMAGE_LOAD_SUPPORT=n.USE_IMAGE_LOAD_AB=y.SIMPLE_AUTOK=y.bin"
CONFIG_IPL_CUST_CONFIG="IPL_CUST.iford_nand.QFN128=y.IMAGE_LOAD_SUPPORT=n.USE_IMAGE_LOAD_AB=y.SIMPLE_AUTOK=y.bin"
CONFIG_USB_UPGRADE_IPL_CONFIG="IPL.iford_usb.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_USB_UPGRADE_UBOOT_CONFIG="u-boot_spinand.xz.img.bin"
CONFIG_SD_UPGRADE_IPL_CONFIG="IPL.iford_sdmmc.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_SD_UPGRADE_IPL_CUST_CONFIG="IPL_CUST.iford_sdmmc.QFN128=y.SIMPLE_AUTOK=y.bin"
CONFIG_FLASH_SIZE_16M=y
CONFIG_IQ0="imx307/imx307_iqfile.bin"
CONFIG_IQ1="imx307/imx307_iqfile.bin"
CONFIG_IQ2="imx307/imx307_iqfile.bin"
CONFIG_IQ3="imx307/imx307_iqfile.bin"
CONFIG_IQ_API_LIST="os04d10/os04d10_api.bin"
CONFIG_SENSOR_LIST="os04d10_mipi.ko tp2855_mipi.ko"
CONFIG_SENSOR0="os04d10_mipi.ko"
CONFIG_SENSOR0_OPT="chmap=5 mclk=27M"
CONFIG_CONFIG_ENABLE_MI_NORMAL_STR=y
CONFIG_DEBUG_SUPPORT=y
CONFIG_SD_UPGRADE_DEV=1
CONFIG_USE_AB_SYSTEM_BOOT=y
CONFIG_SSW101B_WIFI_USB=y
CONFIG_BOOTLOGO=y
CONFIG_VERIFY_MI_DEMO=y
CONFIG_VERIFY_RELEASE_SAMPLE_AMIGOS=y
CONFIG_VERIFY_BSP_DEMO=y
CONFIG_VERIFY_CARDV_IMPL=y
CONFIG_VERIFY_CARDV_UI=y
CONFIG_INTERFACE_IVE=y
# CONFIG_MI_RGN_SUPPORT_MOSAIC is not set
# CONFIG_MI_RGN_SUPPORT_COVER_MAP is not set
# CONFIG_MI_RGN_SUPPORT_COLOR_INVERT is not set
# CONFIG_INTERFACE_WLAN is not set
CONFIG_INTERFACE_DUMMY=y
# CONFIG_MI_FB_VIDEO is not set
